.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 600px;
    align-items: center;
    flex-wrap: wrap;
}
.card-img {
    width: 100%;
    height:300px;
    border-radius: 50%;
    border: 5px double yellowgreen;
    padding: 0px;
}
.card-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 1px;
    background-color:  rgb(235, 139, 171);
}
.main-btn{
    display: block;
    margin: 10px auto;
    border-radius: 20px ;
    padding: 8px 20px;
    background-color: yellowgreen;
    border: none;
    cursor: pointer;
}
.main-btn:hover{
    box-shadow: 0 0 10px 2px #0e172c;
}
.card:hover{
    border-radius: 0%;
    background-color: yellowgreen;
    .main-btn{
        background-color: rgb(235, 139, 171) ;
    }
}